.section_container section {
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.section_container .team {
  background-size: contain;
}

#hero {
  height: 100vh;
}

.team {
  border-top: 10px solid rgba(32, 32, 32, 0.7);
}

#hero {
  background-image: linear-gradient(rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0));
  display: flex;
  flex-direction: column;
  position: relative;
  transition: background-color linear 2s;
}

.hero_bg_container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 900px;
  position: absolute;
  width: 100vw;
}

.hero_bg {
  opacity: 80%;
  height: 100%;
}

.hero_content_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
}

.hero_chonk_g_b3,
.hero_chonk_m_b3 {
  filter: blur(0.5px);
}

.trailer {
  border-bottom: 10px solid black;
  border-top: 10px solid black;
}

.trailer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 48px;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 48px;
  z-index: 1;
}

.trailer button img {
  cursor: pointer;
  filter: invert(50%) sepia(0%) saturate(1352%) hue-rotate(87deg)
    brightness(120%) contrast(120%);
}

.team {
  background-image: url('/img/team_bg.png');
}

.team_bg_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.team_container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 20px;
  width: 80%;
  z-index: 2;
}

.team_members_container {
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: black;
  display: flex;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

#footer div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 15vh;
  justify-content: center;
  position: relative;
}

#footer p {
  font-size: 0.6rem;
}

.footer_chonks {
  height: auto;
  position: relative;
  width: 100%;
}

.footer_logo {
  height: auto;
  width: 200px;
}

/* 
  ##################
  ##################
  ##################
  MOBILE
  ##################
*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #hero {
    height: unset;
    min-height: 100vh;
  }

  .hero_content_container nav {
    min-width: 70%;
  }

  .hero_content_container .chonk_logo {
    align-self: center;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 70%;
  }

  #home .team {
    align-items: center;
  }

  #team {
    padding-top: 10px;
  }

  .team_title_container {
    align-self: center;
    padding-bottom: 20px;
  }

  .team {
    text-align: center;
    justify-content: center;
  }

  .team_container {
    padding-bottom: 0;
  }

  .team_members_container {
    flex-direction: column;
  }

  #footer div {
    height: unset;
    padding: 10px 0;
  }

  #footer .footer_chonks {
    display: none;
  }
}

/* 
  ##################
  ##################
  ##################
  SMALL SCREENS
  ##################
*/
@media only screen and (min-width: 480px) and (max-width: 1280px) {
  #hero {
    max-height: 500px;
  }

  .hero_content_container {
    align-self: center;
    width: 70vw;
  }

  .hero_content_container .chonk_logo {
    align-self: center;
    display: block;
    margin: 0 auto;
    max-width: 320px;
    height: auto;
    width: 70%;
  }

  .hero_content_container nav {
    top: unset;
    right: unset;
    min-width: 50%;
  }

  .team {
    text-align: center;
    height: unset;
  }

  .team_container {
    width: 100%;
  }

  .team_members_container {
    flex-direction: column;
    margin-top: 10px;
  }

  #footer div {
    height: unset;
  }
}

/* 
  ##################
  ##################
  ##################
  DESKTOP
  ##################
*/
@media only screen and (min-width: 1280px) and (min-height: 1400px) {
  #hero,
  .hero_bg_container {
    max-height: 1000px;
  }
}

@media only screen and (min-width: 1280px) {
  #hero {
    max-height: 900px;
  }

  .hero_content_container nav {
    position: relative;
    right: -380px;
    top: -100px;
  }

  .hero_content_container .chonk_logo {
    height: 120px;
    width: auto;
  }

  .team {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 630px;
  }

  .team_title_container {
    align-self: flex-start;
    padding-bottom: 60px;
  }
}
