.chonkstruction {
  background-color: #141211;
  overflow: hidden;
  padding: 0;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.copy_container {
  background-color: #141211;
  display: flex;
  flex: 1;
  align-items: center;
  height: 100vh;
  z-index: 10;
}

.copy {
  padding: 10px;
}

.copy_movealong {
  color: #fce300;
  font-size: 1rem;
}

.copy_under {
  color: #fff;
  font-size: 3rem;
}

.copy_chonkstruction {
  color: #fff;
  font-size: 4rem;
}

.copy_chonkstruction span {
  color: #dca33c;
  font-weight: bold;
}

.tape {
  height: 60px;
  width: 600px;
  overflow: hidden;
}

.chonk_container {
  background-color: #482401;
  flex: 1;
  height: 100vh;
  position: relative;
  right: 0;
  top: 0;
  width: 100vw;
}

.shatter {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: 9;
}

.shatter_m {
  display: none;
}

.chonk_vid {
  bottom: 0;
  height: 105vh;
  min-height: 800px;
  position: absolute;
  right: 0;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .chonk_container {
    flex: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    top: 0;
  }

  .copy_container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    z-index: 10;
  }

  .copy {
    background-color: #141211;
    min-height: 100px;
  }

  .copy_under,
  .copy_chonkstruction {
    padding: 0 5px;
  }

  .copy_under {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .copy_chonkstruction {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
  }

  .copy_chonkstruction span {
    color: #dca33c;
    font-weight: bold;
  }

  .tape {
    height: 30px;
    margin-top: 2px;
    width: 100vw;
  }

  .shatter {
    display: none;
  }

  .shatter_m {
    display: block;
    height: auto;
    position: absolute;
    bottom: 100px;
    width: 100%;
    z-index: 9;
  }

  .chonk_vid {
    height: 108vh;
    bottom: 0;
  }
}
